html,
body {
    margin: 0;
    padding: 0;
}

#navbar {
    display: flex;
    background-color: rgb(49, 49, 49);
    padding: 15px;
    color: white;
    flex-direction: row;
    justify-content: space-between;
}

#menu {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-right: 35px;
}

#menu li {
    list-style: none;
}

#menu li a {
    text-decoration: none;
    color: white;
    font-size: 22px;
}

#menu li a:hover {
    color: yellowgreen;
}

#pencarian {
    background-color: rgb(131, 77, 61);
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    color: white;
}

#atas {
    margin-bottom: 20px;
}

#form_search #search {
    padding: 5px 10px;
    width: 20rem;
}

#form_search button {
    background-color: rgb(255, 234, 166);
    padding: 5px 20px;
    cursor: pointer;
    font-weight: 700;
}

/*KATEGORI*/
.judul_tabel{
    display: flex;
    align-items: center;
}
#input_kategori{
    width: 400px;
}
#edit_item{
    background-color: #1976D2;
    font-size: 20px; 
    color: white;
    margin-right: 20px;
}
#edit_item:hover{
    background-color: blue;
    color: white;
}
#hapus_kategori{
    background-color: #B71C1C;
    font-size: 20px;
    color: white;
}
#hapus_kategori:hover{
    background-color: red;
    color: white;
}
.flex{
    display: flex;
    gap:10px;
    width: 60%;
}
.flex label{
    width: 100px;
}
