html,
body {
    margin: 0;
    padding: 0;
    /* height: 100%; */
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#navbar {
    display: flex;
    background-color: rgb(0, 95, 158);
    padding: 15px;
    color: white;
    flex-direction: row;
    justify-content: space-between;
}

#logo {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    margin-left: 20px;
}

#menu {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-right: 35px;
}

#menu li {
    list-style: none;
}

#menu li a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: 600;
}

#menu li a:hover {
    color: rgb(255, 243, 81);
}

.dalam-konten {
    height: 100%;
    padding: 20px;
}

.logout {
    color: white;
    background-color: rgb(165, 19, 0);
    padding: 5px 10px;
    border-radius: 10px;
}

/*----------- KATEGORI -----------*/

.judul_tabel {
    /* display: flex; */
    /* align-items: center; */
    text-align: center;
}

.judul-section {
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.judul_tabel h2 {
    font-size: 26px;
    /* background-color: rgb(255, 200, 148); */
    padding: 7px 10px;
    font-weight: 700;
}

.tabel tr {
    text-align: center;
    font-size: 17px;
}

#tabel_pertanyaan {
    background-color: rgb(224, 224, 224);
    padding: 20px;
}

.tabel_kategori {
    margin: 20px auto;
    width: 500px;
}

#input_kategori {
    width: 300px;
}

.tombol a {
    padding: 5px 10px;
    cursor: pointer;
    font-size: 17px;
    border-radius: 5px;
    color: white !important;
}

.tambah {
    padding: 8px 15px !important;
    margin: 0 10px;
    width: 200px !important;
    text-align: center;
    align-self: center;
    background-color: #015c86;
}

.tambah:hover {
    text-decoration: none;
    background-color: #007ab3;
}

#import {
    background-color: #018634;
}

.lihat {
    background-color: #00478f;
}
.lihat:hover {
    background-color: rgb(2, 119, 173);
}
.edit {
    background-color: #008f48;
}
.edit:hover {
    background-color: rgb(0, 218, 54);
}
.hapus {
    background-color: #b71c1c;
}
.hapus:hover {
    text-decoration: none;
    background-color: red;
}
.back {
    padding: 5px 20px;
    font-size: 20px;
    margin-left: 40px;
    background-color: rgb(17, 17, 17);
    color: rgb(255, 255, 255);
    border: 2px solid white;
    border-radius: 5px;
}

.back:hover {
    color: white;
    background-color: rgb(58, 58, 58);
    text-decoration: none;
}

.flex {
    display: flex;
    gap: 10px;
    /* width: 60%; */
}

.flex-center {
    justify-content: center;
}

.flex label {
    font-weight: 700;
    width: 120px;
}

.tengah {
    text-align: center;
}

.kotak {
    background-color: white;
    margin: 20px auto;
    padding: 20px;
    /* border: 2px solid black; */
    border-radius: 10px;
}

.kotak h1 {
    font-weight: bold;
}

.kotak-mini {
    width: 95%;
}

.tambah-pertanyaan .pertanyaan {
    width: 900px;
    height: 65px;
}

/*INDEX*/
#pencarian {
    width: 100%;
    text-align: center;
    padding: 1rem 0;
}

#atas {
    margin-bottom: 20px;
}

#atas h1,
#atas h2 {
    color: rgb(255, 255, 255);
}

#form_search #search {
    padding: 5px 10px;
    width: 20rem;
}

#form_search button {
    background-color: rgb(255, 234, 166);
    padding: 5px 20px;
    cursor: pointer;
    font-weight: 700;
}

#kumpulan_faqs {
    margin: 15px auto;
    text-align: justify;
    padding: 10px;
}

#setiap_faqs {
    margin: 0 auto;
    width: 85%;
    margin-bottom: 15px;
}

.tampil_pertanyaan {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    background-color: rgb(255, 253, 244);
    padding: 5px 10px;
    border-radius: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border: 1px solid rgb(63, 63, 63);
}

.tampil_pertanyaan h5 {
    font-size: 17px;
}

.tampil_pertanyaan h6 {
    margin: 0;
    font-size: 15px;
    color: rgb(134, 60, 0);
}

.tampil_jawaban {
    /* display: none; */
    border: 1px solid black;
    border-top: 0;
    background-color: #ffffff;
}

.tampil_jawaban p {
    padding: 10px;
    margin: 0;
}

#selengkapnya {
    text-align: center;
}

#selengkapnya a {
    display: block;
    background-color: rgb(27, 99, 255);
    color: white;
    text-decoration: none;
}

.tombol-kanan {
    margin-right: 10px;
}

.tombol-kanan i {
    font-size: 40px;
    /* background-color: teal; */
}
